// Variables

// Mixins


// Styling
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 640px;
  width: 100%;
  margin: 0 auto;
  padding: 0 25px;
}

.site-header {
  margin: 30px 0;

  .logo {
    margin-bottom: 50px;
  }

  .input-data {
    position: relative;

    input {
      width: 100%;
      // height: 55px;
      font-size: 1.25em;
      padding: 18px 20px;
      border: 4px solid #eee;
      border-radius: 5px;

      &:focus {
        outline: none;
      }
    }

    button {
      position: absolute;
      top: 8px;
      right: 20px;
      font-size: 2em;
      font-weight: 700;
      line-height: 0;
      background: #F8E71C;
      width: 50px;
      height: 50px;
      border: 0;
      border-radius: 5px;
    }
  }
}